
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">


    <title>Locations Page</title>
    <link rel="stylesheet" href="~/style.css">
   
</head>

<body>
    <div id="wrap">

        <nav class="navbar">
            <ul>
                <li>
                    <img id="logo" src="https://image.ibb.co/i04Tjp/logofinal.png" />
                </li>
                <li class="navlist">
                    Почетна
                </li>
                <li class="navlist">
                    Медиуми
                </li>
                <li class="navlist">
                    Најава
                </li>

            </ul>


        </nav>



        <ul id="locationsId" style="list-style-type:none">
            @foreach (var i in Model)
            {
            <li style="clear:left">
                <a href="@Url.Action("Index","UserReviews",new { title=i.Name})">
                    <p>@i.Name</p>
                    <div class="container">
                        <div class="review">

                            <img src="@i.ImgUrl" />

                            <span>
                                @i.Description
                            </span>

                        </div>

                    </div>
                </a>
            </li>

            }
        </ul>
    </div>

</body>
</html>